
@media only screen and (max-width: 800px) {
    #page { width: calc(90% - 2.5em) !important; }
}

body {
    font-family: var(--font);
    background: var(--bg-img) var(--background) !important;
    background-size: calc(100% / 3) !important;
    background-attachment: fixed !important;
    color: var(--f_high) !important;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    margin: 0;

    line-height: 1.4;
    font-size: calc(1rem + .05vw);
}

header h1 {
    font-family: var(--font-title);
    text-align: center;
    font-size: 4em;
    margin: 5px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-alt);
    color: var(--f_med);
    margin-bottom: 5px;
}

nav { font-family: var(--font-alt); }
nav ul {
    padding: 0;
    margin: 0;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;

    list-style: none;
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; text-align: right; }
.footer {
    display: grid;
    grid-template-columns: 30% auto;
}
.buttonV { align-self: center; }

header, main, footer {
}

#page {
    background: var(--b_low);

    margin: 2em auto;
    width: calc(60% - 2.5em);
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";

    grid-gap: 1em;

    outline: 5px var(--f_med) double;
    outline-offset: 5px;
}

a {
    color: var(--f_low);
}
a:hover { color: var(--f_med); }

mark, ::-moz-selection, ::selection {
    color: var(--b_low);
    background: var(--f_high);
}

details {
    padding: 5px;
    margin: 10px;
    background: var(--background);

    outline: 1px dotted var(--f_low);
    outline-offset: 5px;
}
details summary {
    cursor: pointer;
    padding: 0px 3px;
}

code { background: var(--b_med); padding: 1px 2px; }

hr {
    border: none;
    width: 50%;
    border-bottom: 2px dotted var(--f_high);
}

iframe {
    display: block;
    margin: 5px auto;
}

button {
    background: var(--background);
    color: var(--f_high);

    padding: 5px;
    margin: 10px;

    border: none;
    outline: 1px dotted var(--f_low);
    outline-offset: 5px;
}
button:hover {
    background: var(--f_high);
    color: var(--background);
    cursor: pointer;
}

ul { list-style-type: '🍄 '; }
ol { list-style-type: lower-roman; }

table {
    border: solid var(--f_high) 1px;
    width: 100%;
    text-align: center;
    word-break: break-all;
}
th { border-bottom: dotted var(--f_high) 1px; }
td { border-left: dashed var(--f_high) 1px; border-bottom: dashed var(--f_high) 1px; }

/* *** */
.centerImg {
    display: block;
    margin: 5px auto;
    height: 200px;
}

/* *** */

.members {
    padding: 0;
    list-style: none;
}
.members li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nick desc site"
        "shroom desc button";

    align-items: center;
    justify-content: space-between;
    grid-gap: 5px;

    margin: 10px 5px;

    padding: 5px;
    outline: 2px dotted var(--f_med);
}
.members .slug { grid-area: slug; text-align: center; }
.members .button { grid-area: button; }
.members img { grid-area: button; margin: 5px 5px 5px auto; }
.members .site { grid-area: site; text-align: right; }
.members .nickname { grid-area: nick; }
.members .description { grid-area: desc; text-align: center; }
.members .shroom { grid-area: shroom; }

.alt_font { font-family: var(--font-alt); }

.name {
    font-family: var(--font-alt);
    text-transform: lowercase;
    font-style: oblique;
}

.two_grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "col1 col2";
}
.two_grid .col_1 { grid-area: col1; border-right: dashed 1px var(--font-color); padding: 5px 10px 5px 5px; }
.two_grid .col_2 { grid-area: col2; padding: 5px 5px 5px 10px; }
@media only screen and (max-width: 1000px) {
    .two_grid { grid-template-areas: "col1 col1" "col2 col2"; }
    .two_grid .col_1 { border: none; border-bottom: dashed 1px var(--font-color); padding: 10px 5px; }
    .two_grid .col_1 { padding: 10px 5px; }
}

.scared {
    animation: an_shake .2s linear infinite;
}
.scared_h:hover {
    animation: an_shake .2s linear infinite;
}
@keyframes an_shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
