---
---
<!DOCTYPE html>
<html lang=en>
    <head>
        <title>{{page.title}}</title>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src={{'src/js/theme.js'|relative_url}}></script>
        <link rel=stylesheet href={{'src/css/main.css'|relative_url}}>
    </head>
    <body>
        <div id="page">
            <header>
                <h1 class="scared_h">{{page.title}}</h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        |
                        <li><a href="/members">Members</a></li>
                        |
                        <li><a href="/join">Join</a></li>
                        |
                        <li><a href="/widgets">Widgets</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <hr>
            {{content}}
            </main>
            <footer>
                <hr>
                <div class="footer">
                    <img class="buttonV" src="{{'src/img/void.shrooms.jpg'|relative_url}}" alt="Void.Shrooms Button">
                    <div>
                        <!--<p><a href={{site.github_repo_url}}>View on GitHub</a>.<p>-->
                        <!--<p>Questions? Concerns? Email: <code>howdy [at] shroom.ink</code>.</p>-->
                        <a href="mailto:howdy@shroom.ink?subject=Void.Shrooms" title="howdy@shroom.ink"><img src="./src/img/buttons/email.gif" alt="Questions or comments? Email Me."></a>
                        <p style="margin:0;">If the ring is broken, please <a href={{site.github_repo_url}}/issues/new>submit an issue report on GitHub</a>.

                    </div>
                </div>
            </footer>
        </div>
    </body>
    <script type="text/javascript" src={{'src/js/start.js'|relative_url}}></script>
</html>
